<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reddoor.framework.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.reddoor.framework.domain.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="SORT" jdbcType="SMALLINT" property="sort" />
    <result column="DEL_FLAG" jdbcType="VARCHAR" property="delFlag" />
    <result column="DESCRIPTION" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>