<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false">
	<welcome-file-list>
	<welcome-file>login.do</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		classpath:config/applicationContext-*.xml
		</param-value>
		<!-- <param-value>/WEB-INF/classes/config/applicationContext.xml</param-value> -->
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/springMVC.xml</param-value>
			<!-- <param-value>/WEB-INF/classes/config/springMVC.xml</param-value> -->
		</init-param>
	</servlet>
	<load-on-startup>2</load-on-startup>
	
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<!-- 可以配置/ ，此工程 所有请求全部由springmvc解析，此种方式可以实现 RESTful方式，需要特殊处理对静态文件的解析不能由springmvc解析 
			也可以配置*.do或*.action，所有请求的url扩展名为.do或.action由springmvc解析，此种方法常用 不可以/*，
			如果配置/*，返回jsp也由springmvc解析，这是不对的。 -->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- shiro的filter -->
	<!-- shiro过虑器，DelegatingFilterProxy通过代理模式将spring容器中的bean和filter关联起来 -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<!-- 设置true由servlet容器控制filter的生命周期 -->
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- sessionFilter -->
	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>com.reddoor.framework.filter.SessionFilter</filter-class>
		<init-param>
	        <param-name>excludedUrls</param-name>
	        <!-- Comma separated list of excluded servlets  -->
	        <param-value>/ajaxLogin.do,/rest/mobile/*</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- URL访问动态权限控制, 跟方法上@RequiresPermissions注解是类似作用 -->
	<filter>
		<filter-name>urlFilter</filter-name>
		<filter-class>com.reddoor.framework.filter.UrlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>urlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- post乱码处理 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 错误页面 -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.jsp</location>
	</error-page>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
